* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "FuturaPT-Light";
    src: url("/assets/font/Futura/FuturaPTLight.otf") format("opentype");
}

@font-face {
    font-family: "FuturaPT-Bold";
    src: url("/assets/font/Futura/FuturaPTBold.otf") format("opentype");
}
@font-face {
    font-family: "FuturaPT-Medium";
    src: url("/assets/font/Futura/FuturaPTMedium.otf") format("opentype");
}

body {
    font-family: "FuturaPT-Light";
    font-size: 16px;
    min-height: 100vh;
}

.grey {
    color: #999999;
}

.text-content {
    text-align: center;
    display: block;
    color: #404040;
    font-size: 20px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.nav {
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

/* .nav ul {
    cursor: pointer;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    width: inherit;
    list-style: none;
    border-bottom: 1px solid #999999; 
} */

.nav ul li a {
    text-decoration: none;
}

.nav .img__logo {
    width: 120px;
    margin-top: 2rem;
}

.nav .menu {
    text-transform: uppercase;
    display: inherit;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
}

.nav .navlink:last-child {
    margin-top: 1rem;
}

.nav .navlink {
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.nav .navlink:hover {
    font-weight: 600;
    color: #000;
}

.wrapper{
    /* display: none; */
    cursor: pointer;
    transform: translateY(-100px);
}

.wrapper.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    width: inherit;
    list-style: none;
    transform: translateY(0px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-bottom: 1px solid #999999;
}

.content {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: grid;
    gap: 0.6rem;
    grid-template-columns: repeat(2, minmax(90px, 1fr));
}

.content .img {
    width: 100%;
}

footer p{
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}